<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>hoja-personaje</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">hoja-personaje</ion-title>
    </ion-toolbar>
  </ion-header> -->
  <div class="fondo">
    <div class="hoja-personaje">
      <div class="estadisticas">
        <div class="valor rojo">1</div>
        <div class="valor azul">2</div>
        <div class="valor amarillo">3</div>
        <div class="valor verde">4</div>
      </div>
      <div class="foto">
        <img src="{{personaje?.foto}}" alt="foto_{{personaje?.nombre}}">
      </div>
      <div class="nombre">{{personaje?.nombre}}</div>
      <div class="body">
        <div class="descripcion">
          <div class="cat profesion">Profesión: Mago.</div>
          <div class="cat especialidades">Especialidad: Alid, Brujo de Arena, Maestro del Equilibrium, Cabal.</div>
          <div class="cat cartas-iniciales">Cartas Iniciales: Canalizar, Deducir, 1 al azar.</div>
          <div class="cat clase-social">Clase Social: Korra.</div>
          <div class="cat localidad-inicial">Localidad Inicial: Valora.</div>
          <div class="cat trasfondo-inicial">Trasfondo Inicial: Accidente con Gei, Cita con Leila, Misión de Investigación.</div>
        </div>
        <!-- <button class="seleccionar">Seleccionar</button> -->
      </div>
      <div class="seleccionar" (click)="seleccionar()">Seleccionar</div>
    </div>
    <button class="cerrar" (click)="cerrar()"></button>
    <!-- <div class="cerrar"></div> -->
  </div>
  
</ion-content>
