<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>seleccion-pj</ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense"> -->
    <!-- <ion-toolbar>
      <ion-title size="large">seleccion-pj</ion-title>
    </ion-toolbar> -->
  <!-- </ion-header> -->

  <div id="main">
    <div class="titulo"></div>
    <div class="personajes">
      <ng-container *ngFor="let personaje of personajes; let i = index">
        <app-boton-personaje [personaje]="personaje" [index]="i"></app-boton-personaje>
      </ng-container>
    </div>
  </div>
</ion-content>
