<div class="hoja-personaje">
  <div class="estadisticas">
    <div class="rojo">1</div>
    <div class="azul">2</div>
    <div class="amarillo">3</div>
    <div class="verde">4</div>
  </div>
  <div class="foto">
    <img src="../../../assets/fotos/Anush.png" alt="">
  </div>
  <div class="body">
    <div class="nombre">Prueba</div>
    <div class="descripcion">
      <div class="profesion">Profesión: Mago.</div>
      <div class="especialidades">Especialidad: Alid, Brujo de Arena, Maestro del Equilibrium, Cabal.</div>
      <div class="cartas-iniciales">Cartas Iniciales: Canalizar, Deducir, 1 al azar.</div>
      <div class="clase-social">Clase Social: Korra.</div>
      <div class="localidad-inicial">Localidad Inicial: Valora.</div>
      <div class="trasfondo-inicial">Trasfondo Inicial: Accidente con Gei, Cita con Leila, Misión de Investigación.</div>
    </div>
    <div class="seleccionar">Seleccionar</div>
  </div>
</div>
<div class="cerrar"></div>