@font-face {
    font-family: 'Sketsa';
    src: url('/assets/fonts/Sketsa.ttf');
  }

@font-face {
    font-family: 'Poor-Rich';
    src: url('/assets/fonts/Poor-Rich.TTF');
}

@font-face {
    font-family: 'Hidayatullah';
    src: url('/assets/fonts/Hidayatullah.ttf');
}

.fondo {
    background: url('/assets/img/Fondo_Hoja_Pj.jpg');
    background-size: cover;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;

    // width: 100vw;
    width: auto;
    min-height: 100vh;
    // height: 100vh;

    overflow: hidden;
}

.hoja-personaje {
    background: url('/assets/img/Panel_Personaje.png');
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;

    width: 92.5%;
    height: 92.5%;
    max-height: 92.5%;
    max-width: 92.5%;

    transform: translate(2px, -9%);
    // transform: translateX(2px);

    display: flex;
    flex-direction: row;
    align-items: start;
    justify-content: start;

    padding-left: 7%;

    position: relative;

    // column-gap: 5%;

    .estadisticas {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 8px;

        padding-top: 21%;

        color: #e5bf5a;
        font-family: 'Hidayatullah', sans-serif;
        font-size: 1.6rem;
        text-shadow: 0px 2px 0px black;

        height: 100%;
        width: 45px;

        z-index: 1;

        .estadistica {
            position: relative;

            background: url('/assets/img/Panel_Atributo.png');
            background-size: cover;

            height: 45px;
            width: 50px;

            display: flex;
            flex-direction: row;

            align-items: end;
            justify-items: end;
        }

        .valor {
            position: absolute;
            top: 32%;
            left: 10%;
        }

        .icono {
            position: absolute;
            top: 38%;
            left: 49%;
            transform: translate(-50%, -50%);
            width: 35px;
            height: auto;
        }
    }
    
    .foto_pj {
        // width: 275px;
        width: 68%;
        height: auto;
        max-height: 100%;
        object-fit: contain;
        transform: translate(-30%, 10%);

        z-index: 0;

    }

    .nombre {
        background: url('/assets/img/Recuadro_Nombre_Personaje.png');
        background-size: contain;
        background-repeat: no-repeat;
        width: 40%;
        height: 22%;

        font-family: 'Sketsa', sans-serif;
        color: #e5bf5a;
        font-size: 2.2rem;
        text-shadow: 0px 1px 0px black;
        text-align: center;

        display: flex;
        justify-content: center;
        align-items: center;

        position: absolute;
        top: 13%;
        left: 43%;
    }

    .body {
        position: absolute;
        top: 27%;
        left: 40%;

        display: flex;
        flex-direction: column;
        row-gap: 4.4%;
        // padding-top: 6%;

        width: 49%;

        .descripcion {
            font-family: 'Poor-Rich', sans-serif;
            color: black;
            text-align: center;
            justify-content: center;
            // font-size: 1.1rem;
            font-size: clamp(16px, 18px, 20px); // Seguramente es mejor hacerlo con vh/vw para ajustar el tamaño mejor en funcion el tamaño del movil
            margin-top: 5%;
            
            .cat {
                margin-top: 1.5%;
            }
        }
    }

    .botones {
        display: flex;
        flex-direction: row;
        // justify-content: center;
        align-items: end;
        gap: 0.5rem;

        width: 40%;

        position: absolute;
        top: 77%;
        left: 45%;

        .seleccionar {
            background: url('/assets/img/Boton.png');
            background-size: contain;
            background-repeat: no-repeat;
            
            padding-top: 0.9rem;
            font-family: 'Sketsa', sans-serif;
            color: #e5bf5a;
            font-size: 1.9rem;
            text-shadow: 0px 1px 0px black;
            text-align: center;
            
            // width: 70%;
            // height: 58px;
            width: 255px;
            height: 55px;
            
            align-self: center;
            // transform: translateX(4%);
            // transform: translateY(-8px);
            // margin-top: 5%;
            // position: absolute;
            // top: 86%;
            // left: 45%;
        }
        
        .volver {
            background: url('/assets/icon/Volver.png');
            background-size: contain;
            background-repeat: no-repeat;

            width: 40px;
            height: 40px;
        }
    }
}
