<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Menu principal</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="main">
    <audio src="../../assets/music/Menu.mp3" id="audio" autoplay loop></audio>
    <div id="contenido">
      <div id="titulo">
        <img src="../../assets/img/Logo.png" alt="titulo" class="titulo">
      </div>
      <div id="menu">
        <button class="boton sketsa"><span>Nueva Partida</span></button>
        <button class="boton sketsa"><span>Opciones</span></button>
      </div>
    </div>
  </div>
</ion-content>
