#main{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  
  background: url('../../assets/img/Fondo_Inicio.jpg');
  background-size: cover;

  #contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    width: 35%;
    padding-bottom: 1.5%;
    
    #titulo{
    }
    
    #menu{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      gap: 0.4rem;
      
      width: 80%;
      
      .opcion{
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        width: 100%;

        img{
          width: 100%;
        }
      }
    }
  }
}