#main{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content:space-around;
  
  background: url('../../assets/img/Fondo_Inicio.jpg');
  background-size: cover;

  animation: fondoOscuro 4s forwards;

  #contenido{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    gap: 1.5rem;
    width: 35%;
    padding-bottom: 1.5%;
    
    #titulo{
      animation: tituloArriba 4s ease-in-out forwards;
    }
    
    #menu{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: space-around;
      gap: 1rem;
      
      width: 60%;

      animation: menuAparece 4s ease-in-out forwards;
      
      .opcion{
        background: none;
        border: none;
        padding: 0;
        cursor: pointer;
        width: 100%;

        img{
          width: 100%;
        }
      }
    }
  }
}

@keyframes fondoOscuro {
  0% {
    opacity: 0;
  }
  25% {
    opacity: 1;
  }
}

@keyframes tituloArriba {
  0% {
    opacity: 0;
    transform: translateY(30%) scale(2);
  }
  25% {
    opacity: 1;
    transform: translateY(30%) scale(2);
  }
  50% {
    transform: translateY(30%) scale(2);
  }
  100% {
    transform: scale(1);
  }
}

@keyframes menuAparece {
  0% {
    opacity: 0;
    transform: scale(0.8);
  }
  75% {
    opacity: 0;
    transform: scale(0.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }

}